@import '../util/colors';

.player-controller-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  bottom: 0px;
  height: 45px;
  width: 97%;
  min-width: 960px;
  padding: 0 1.5% 0 1.5%;
  background-color: #ececec;
  border-top: 1px solid #bcbcbc;
  z-index: 2;

  .player-controlls {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 200px;

    button {
      height: 100%;
      width: 20px;
      margin-left: 15px;
      background-color: rgba(0,0,0,0);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .back {
      background-image: image_url('controller/back'); // image by Interactivemania on iconfinder.com, license info below
    }
    .play {
      background-image: image_url('controller/play'); // image by Interactivemania on iconfinder.com, license info below
    }
    .play.pause {
      background-image: image_url('controller/pause'); // image by Interactivemania on iconfinder.com, license info below
    }
    .forward {
      background-image: image_url('controller/forward'); // image by Interactivemania on iconfinder.com, license info below
    }
    .shuffle {
      background-image: image_url('controller/shuffle'); // image by Interactivemania on iconfinder.com, license info below
    }
    .shuffle.on {
      background-image: image_url('controller/shuffle-on'); // image by Interactivemania on iconfinder.com, license info below
    }
    .repeat {
      background-image: image_url('controller/repeat'); // image by Interactivemania on iconfinder.com, license info below
    }
    .repeat.on {
      background-image: image_url('controller/repeat-on'); // image by Interactivemania on iconfinder.com, license info below
    }
  }

  p {
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 300;
    padding: 2px 15px 0 15px;
  }

  .progress {
    color: $button-orange;
  }

  .player-progress {
    position: relative;
    height: 50%;
    width: 40%;
    border-bottom: 1px solid #cccccc;

    .progress-line {
      position: absolute;
      height: 100%;
      border-bottom: 1px solid $button-orange;
    }
  }

  .player-info {
    height: 100%;
    width: 350px;
    display: flex;
    align-items: center;

    .player-headers {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    img {
      height: 30px;
      width: 30px;
      border: 1px solid #bbbbbb;
      object-fit: cover;
    }

    p {
      font-size: 11px;
      margin: 0;
      padding-left: 10px;
      filter: brightness(125%);
    }

    .artist-header {
      color: gray;
    }

    .track-header {
      color: #333333;
    }
  }

}


// Playbutton controllers by Interactive media are under the
// Creative Commons Attribution-NoDerivs 3.0 Unported
// licence: https://creativecommons.org/licenses/by-nd/3.0/
// modificatons to repeat-on and shuffle-on: made orange
