.new-session-modal {
  transition: opacity 0.3s linear;
  display: block;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  height: 100%;
  width: 100%;
  z-index: 2;

  .close-modal {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 20px;

    button {
      background-color: rgba(0, 0, 0, 0);
      background-image: image_url(
        "splash/close-modal"
      ); // image by Appercuts at https://www.iconfinder.com/appercuts
      background-size: cover;
      height: 20px;
      width: 20px;
    }
  }
}

.new-session-modal.off {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.3s linear;

  .new-session-form-container {
    top: -500px;
  }
}
