.nav-user-dropdown {
  display: flex;
  position: relative;
  background-color: rgb(15, 15, 15);
  visibility: hidden;
  width: 100%;

  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    li {
      height: 30px;
      width: 100%;
      font-size: 13px;
      font-weight: 200;

      a {
        padding-left: 10%;
        color: #7b7b7b;
      }

      button {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0;
        padding-left: 10%;

        h3 {
          padding-left: 0;
          font-size: 13px;
          font-weight: 200;
          text-align: left;
          color: #7b7b7b;
        }
      }
    }
  }
}

li:hover {
  background: rgb(58, 60, 63);
  color: white;

  button:hover {
    h3 {
      color: white;
    }
  }

  a:hover {
    color: white;
  }
}

.nav-user-dropdown.open {
  visibility: visible;
}
