@import '../util/colors';

.stream-content {
  display: inline-block;
  padding: 115px 20px 0 0;
  margin-left: 20px;
  margin-right: 0;
  width: 70%;

  .stream-nav-links {
    position: relative;
    border-bottom: 1px solid $background-grey;

    h1 {
      position: absolute;
      top: -40px;
      color: $button-orange;
      font-size: 25px;
      font-weight: 400;
      height: 40px;
      width: 80px;
      border-bottom: 1px solid $button-orange;
      z-index: 3;
    }
  }

  h2 {
    color: #9d9d9d;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 300;
  }
}
