.content {
  background-color: white;
  min-width: 960px;
  max-width: 97%;
  min-height: 100%;
  margin: 0 auto;
}

button {
  cursor: pointer;
  color: white;
  border: none;
}

button:hover {
  filter: brightness(115%);
}
