@import "../util/colors";

.splash-search {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  button {
    font-size: 10px;
  }
}

.splash-searchbar {
  -webkit-appearance: none;
  background-color: $background-grey;
  font-size: 15px;
  min-height: 46px;
  width: 556px;
  border: none;
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
}

.splash-searchbar-or {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 46px;
  width: 46px;
}

#search-button {
  background-color: $background-grey;
  min-width: 46px;
  min-height: 46px;
  border-radius: 0 4px 4px 0;
  background-image: image_url('splash/search-icon.png'); // Image by Yannick Lung at https://www.iconfinder.com/yanlu
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

#search-button {
  filter: none
}
