.splash-track-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  header {
    margin: 35px 0;
    h1 {
      font-size: 30px;
    }
  }

  section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    .splash-track-thumbnail {
      cursor: pointer;
      transition: width, height, 200ms;
      width: 135px;
      height: 135px;
      margin: 0 10px 80px 10px;

      @media only screen and (min-width: 1020px) {
        transition: width, height, 200ms;
        width: 145px;
        height: 145px;
      }

      @media only screen and (min-width: 1230px) {
        transition: width, height, 200ms;
        width: 175px;
        height: 175px;
      }

      img {
        border: 1px solid lightgray;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      h3 {
        max-width: 180px;
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        color: black;
      }

      h4 {
        max-width: 180px;
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        color: gray;
      }
    }
  }
}
