@import "../util/colors";
@import "../util/fonts";

#splash-front-banner {
  background-color: black;
  background-image: image_url('splash/splash-header.jpg'); // Photo by Pierre Gui on Unsplash
  opacity: 1.5;
  background-size: cover;
  height: 451px;

  .splash-logo {
    display: inline-block;
    margin: 0;
    min-height: 50px;
    min-width: 185px;
    background: image_url('logo/wave-logo.png') no-repeat 0px; // Icon by maxicons on iconfinder.com; please read additional info below
    background-size: 200px;
    position: relative;
    top: 20px;
    left: 15px;
  }

  .session-buttons {
    font-family: monospace;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative;
    top: -35px;
    margin-right: 30px;
  }

  #sign-in {
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0px;
    background-position-y: 0px;
    border: 1px solid #eaeaea;
    margin-right: 10px;
  }

  #sign-in:hover {
    filter: brightness(90%);
  }

  .splash-header {
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px;
    color: white;
  }

  .splash-subtext {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    color: white;
    top: 100px;

    h3 {
      max-width: 530px;
    }
  }

  .demo-login {
    display: flex;
    justify-content: center;
    position: relative;
    top: 150px;
    left: 0;
  }
}

// wave-logo info
  // source: https://www.iconfinder.com/icons/3465605/disaster_earthquake_flood_sea_tsunami_water_wave_icon
  // license: Creative Commons 3.0: https://creativecommons.org/licenses/by/3.0/
  // alterations:
    // image flipped horizontally.
    // exclamation mark removed.
    // 'SOUNDWAVES' text added.
    // image shrunk
