@import "../util/colors";

.splash-content {
  border-top: 4px solid $button-orange;

  h1 {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 200;
  }

  h3 {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 200;
  }

  h4 {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 200;
  }

  button {
    background-color: $button-orange;
    height: 30px;
    padding: 0 15px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 200;
  }

  .big-button {
    font-size: 20px;
    font-weight: 200;
    height: 45px;
  }
}
