<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%= favicon_link_tag 'logo/favicon.png' %>
    <title>SoundWaves</title>
  </head>
  <body>
    <main id='root'><h1>I can't believe you've done this!</h1></main>
  </body>
</html>
