<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/stylesheets/application.scss">
    <title>SoundWaves</title>
  </head>
  <body>
    <main id='root'><h1>I can't believe you've done this!</h1></main>
  </body>
</html>
