@import '../util/colors';

.upload-form-container {
  height: 400px;
  width: 700px;
  border: 1px solid $background-grey;
  border-radius: 2.5px;
  margin-top: 90px;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.form-header {
  padding-top: 30px;
  position: relative;
  width: 90%;
  margin: 20px 5px 0 5px;
  border-bottom: 1px solid $background-grey;

  .info {
    position: absolute;
    bottom: -1px;
    border-bottom: 1px solid $button-orange;
  }

  h2 {
    color: $button-orange;
    font-size: 30px;
    font-weight: 300;
  }
}

.form-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
}

.form-image {
  display: flex;
  justify-content: center;
  width: 40%;
  padding: 20px;

  img {
    border: 1px solid gray;
    height: 170px;
    width: 170px;
    object-fit: cover;
  }
}

.form-input {
  display: flex;
  flex-direction: column;
  padding: 0 30px 0 0;
  width: 100%;

  label {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    padding: 10px 0 5px 0;
    color: #444444
  }

  input {
    font-size: 15px;
    padding: 2px 7px 2px 7px;
    height: 20px;
    width: 98%;
    max-width: 470px;
    border-radius: 5px;
    border: 1px solid #cccccc;
  }

  textarea {
    font-size: 15px;
    padding: 2px 7px 2px 7px;
    height: 120px;
    min-height: 25px;
    max-height: 170px;
    width: 98%;
    min-width: 50px;
    max-width: 470px;
    border-radius: 5px;
    border: 1px solid #cccccc;
  }

  p {
    padding-left: 5px;
    font-weight: 200;
    color: red;
    margin: 0;
  }

}

.form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0px;
  height: 65px;
  width: 100%;
  border-top: 1px solid $background-grey;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  button {
    background-color: $button-orange;
    color: white;
    border-radius: 5px;
    height: 25px;
    width: 50px;
    font-size: 15px;
    font-weight: 300;
    margin-right: 22px;
  }

  input {
    cursor: pointer;
    background-color: $button-orange;
    color: white;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 50px;
    font-size: 15px;
    font-weight: 300;
    margin-right: 22px;
  }

  p {
    margin-left: 22px;
    margin-right: 5px;
    color: red;
    font-weight: 200;
  }

  h5 {
    height: 20px;
    font-weight: 200;
  }

  .cancel {
    margin-right: 15px;
    background-color: white;
    color: black;
  }
}
