@import '../util/colors';

.user-body {
  display: flex;
  justify-content: space-between;
  min-height: 300px;
  margin: 20px 30px;

  .user-track-index {
    display: flex;
    flex-grow: 3;

  }

  .user-sidebar {
    width: 300px;
    padding-left: 30px;
    border-left: 1px solid $background-grey;
  }
}
